<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Apply Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-item>
        Proposal List
      </ion-item>
      <ion-button color="warning" expand="full" routerLink="/newapplyteam"><ion-icon name="add"
        slot="start"></ion-icon>Add Proposal</ion-button>
    </ion-card>
  </div>
</ion-content>
