<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/schedule"></ion-back-button>
    </ion-buttons>
    <ion-title>Schedule Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngIf="scheduleDetails">
      <img class="gambar" [src]="scheduleDetails.img" alt="{{ scheduleDetails.name }}" />
      <ion-card-header>
        <ion-card-title>{{ scheduleDetails.event}}</ion-card-title>
        <ion-card-subtitle>{{ scheduleDetails.place  }}</ion-card-subtitle>
        <ion-card-subtitle>{{ scheduleDetails.tim  }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ scheduleDetails.description }}</p>
      </ion-card-content>
      <div class="tombol">
        <ion-button (click)="notifyMe()">
          <ion-icon slot="end" [name]="isNotified ? 'notifications' : 'notifications-outline'"></ion-icon>
          {{ isNotified ? 'Notify Me' : 'Notify Me' }}
        </ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>


