<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/setting">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>
            <ion-button (click)="logout()" color="danger" expand="block">Logout</ion-button>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="games" routerLink="/home/games">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>What We Play</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="teams" routerLink="/home/teams">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Who We Are</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="schedule" routerLink="/home/schedule">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Our Schedule</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-content *ngIf="!fname" class="ion-padding">
    <img src="https://ubaya.xyz/hybrid/160422148/images/icon.jpg" class="small-image" />
    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="username" label="Username" labelPlacement="floating" />
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" label="Password" labelPlacement="floating" />
      </ion-item>
      <ion-button expand="block" (click)="login()">Login</ion-button>
    </ion-card>
  </ion-content>
</ion-app>