<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<div id="content">
  <div id="frame">
    <ion-avatar id="myAvatar">
      <ion-img src="https://my.ubaya.ac.id/img/mhs/160323001_m.jpg"></ion-img>
    </ion-avatar>
  </div>

  <ion-card class="agaknaik">
    <ion-card-content class="tengah_atasberjarak">
      Kelompok HMP NMP<br>
      kelompokhmpnmp@gmail.com<br>
    </ion-card-content>
  </ion-card>
</div>